$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$gray: hsl(0, 0%, 75%)
$grayish-violet: hsl(230, 25%, 95%); /*colores tarjetas de Karen*/
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$poppins: 'Poppins', sans-serif;
$body-font-size: 18px;
$side-paddings: 11%;

*{
    margin: 0;
    box-sizing: border-box;
    font-family: $poppins;

}

/*sección de Chava*/
header{
    
}
main{
    .hero-wrapper{  /*sección de Ubaldo*/

    }
    .search-wrapper{

    }
    &.statistics-wrapper{   /*sección de Karen*/
        background-color: $gray
        }
        &.cards-wrapper{
            background-color: white;
            &.card{
                width: 330px;
                img{

                }
            }
        }

    }
    &.boost-wrapper{

    }



/*sección de Chava*/
footer{

}


@media only screen and (min-width: 1440px){

    header{
    
    }
    main{
        .hero-wrapper{  /*sección de Ubaldo*/
    
        }
        .search-wrapper{
    
        }
        .statistics-wrapper{   /*sección de Karen*/
    
        }
        .boost-wrapper{
    
        }
    
    }
    
    /*sección de Chava*/
    footer{
    
    }

}