$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$poppins: 'Poppins', sans-serif;
$body-font-size: 18px;
$side-paddings: 11%;

*{
    margin: 0;
    box-sizing: border-box;

}

/*sección de Chava*/
header{
    
}
main{
    .hero-wrapper{  /*sección de Ubaldo*/

    }
    .search-wrapper{

    }
    .statistics-wrapper{   /*sección de Karen*/

    }
    .boost-wrapper{

    }

}

/*sección de Chava*/
footer{

}


@media only screen and (min-width: 1440px){

    header{
    
    }
    main{
        .hero-wrapper{  /*sección de Ubaldo*/
    
        }
        .search-wrapper{
    
        }
        .statistics-wrapper{   /*sección de Karen*/
    
        }
        .boost-wrapper{
    
        }
    
    }
    
    /*sección de Chava*/
    footer{
    
    }

}