$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(230, 25%, 95%); /*colores tarjetas de Karen*/
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);
$poppins: 'Poppins', sans-serif;
$body-font-size: 18px;
$desktop-side-paddings: 11%;
$mobile-side-paddings: 6%;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;

button{
    background-color: $cyan;
    color: white;
    border:none;
    border-radius: 2em;
    padding: .4em 1.1em;
    
    &:hover{
        cursor: pointer;
        background-color: #a9e6e6;
    }
}
}


/*sección de Chava*/
header{
    height: 70px;
    width: 100vw;
    padding: 0 $mobile-side-paddings;
    position: fixed;
    top: 0;
    left: 0;
    // border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 30px;
    }

    .hamburger{
        padding: 0;
        width: 25px;
        height: 25px;
        border-top: 4px solid $gray;
        border-bottom: 4px solid $gray;;
        border-radius: initial;
        background-color: transparent;
        position: relative;
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 7px;
            width: 25px;
            height: 4px;
            background-color: $gray;
        }
    }
    nav {
        display: none;
        ul{
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            li{
                padding: 0 12px; 

                &.sign-up-button{
                    padding-right: 0;
                }
                a{
                    text-decoration: none;
                    color: gray;
                }
            }
        }
    }

}
main{
    .hero-wrapper{  /*sección de Ubaldo*/
        margin-top: 70px;
    }
    .search-wrapper{

    }
    .statistics-wrapper{ /*sección Karen*/
        padding-top: 50px;
        background-color: $grayish-violet;
        padding-right: $mobile-side-paddings;
        padding-left: $mobile-side-paddings;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .main-paragraph{
            margin-bottom: 5rem;

            h2{
                color: $very-dark-blue;
                margin-bottom: 1rem;
                text-align: center;
            }
            p{
                color: $gray;
                text-align: center;
                line-height: 1.8rem;
            }
        }
        .cards-wrapper{
            
            .card{
                background-color: white;
                margin-bottom: 5rem;
                padding-bottom: 2rem;
                padding-top: 3rem;
                position: relative;
                border-radius: 5px;
                
                div{
                    width: 66px;
                    height: 66px;
                    background-color: $dark-violet;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: absolute;
                    left: calc(50% - 33px);
                    bottom: calc(85%);
                }
                h3{
                    color: $very-dark-blue;
                    text-align: center;
                }
                p{
                    color: $gray;
                    padding: 1rem;
                    text-align: center;
                    line-height: 1.8rem;
                }
            }
        }
    }

    .boost-wrapper{
        background-color: $dark-violet;
        padding-right: $mobile-side-paddings;
        padding-right: $mobile-side-paddings;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        height: 300px;
        background-image: url("../images/bg-boost-mobile.svg");
        h2{
            margin-bottom: 1rem;
        }
    }
}


/*sección de Chava*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $very-dark-violet;
    padding-bottom: 2em;
    .logo{
        height: 30px;
        margin: 3em;
        filter: invert(100%) sepia(10%) saturate(0%) hue-rotate(91deg) brightness(104%) contrast(104%);
    }
    .footer-links{
        *{
            color: white;
        }
        margin-bottom: 2em;
        h4{
            text-align: center;
            margin-bottom: 1em;
        }
        li{
            list-style: none;
            text-align: center;
            &:not(:last-of-type){
                margin-bottom: .5em;
            }
        }
        a{
            text-decoration: none;
        }

    }
    .media-icons{
        display: flex;
        justify-content: center;
        img{
            width: 1em;
            height: 1em;
            margin: 0 .8em;
        }
    }
}


@media only screen and (min-width: 1200px){

    header{
        padding: 0 $desktop-side-paddings;
        img{
            margin-right: 15px;
        }
        .hamburger{
            display: none;
        }
        nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    main{
        .hero-wrapper{  /*sección de Ubaldo*/
    
        }
        .search-wrapper{
    
        }
        .statistics-wrapper{   /*sección de Karen*/
            padding-right: $desktop-side-paddings;
            padding-left: $desktop-side-paddings;
            display: flex;
            justify-content: space-between;
            .main-paragraph{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;
                margin-bottom: 6rem;
            }
            .cards-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                //align-items: center;
                //height: 375px;

                .card{
                    //display: block;
                    height: 275px;
                    //width: 28%;
                    div{
                        left: 1rem;
                    }
                    h3{
                        text-align: unset;
                        padding: 1rem;
                    }
                    p{
                        text-align: unset;
                    }
                    /*&:first-child {
                        align-self: flex-start;
                    }*/

                    &:nth-child(2){
                        margin-left: 5rem;
                        margin-right: 5rem;;
                        margin-top: 2rem;
                        //align-self: center;
                    }
                    
                    &:last-child {
                        margin-top: 4rem;
                    }


                }
            }
        }
        .boost-wrapper{
            background-image: url("../images/bg-boost-desktop.svg");
            height: 250px;
        }
    
    }
    
    /*sección de Chava*/
    footer{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 3em $desktop-side-paddings 1em;
        
        .logo{
            margin:0 ;
        }
        .footer-content{
            display: flex;
            .footer-links{
                margin-right: 4em;
                h4, li{
                    text-align:unset;
                }
            }
        }
    }
}